html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 960px;
    margin: 0 auto;
    color: #333;
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 3em;
    font-weight: 300;
  }
  
  h2 {
    font-size: 1.5em;
    font-weight: 300;
  }
  
  section {
    margin-bottom: 3em;
  }
  
  section p {
    text-align: justify;
  }
  
  svg {
    border: 1px solid #ccc;
    overflow: auto;
    margin: 0 auto;
  }
  
  pre {
    border: 1px solid #ccc;
  }
  
  text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
  }
  
  .node rect {
    stroke: #999;
    fill: #fff;
    stroke-width: 1.5px;
  }
  
  .edgePath {
    fill: grey;
  }
  
  .edgePath path {
    stroke: grey;
    stroke-width: 1.5px;
  }
  
  g.Succeeded>rect {
    fill: #dff0d8;
  }
  
  g.Failed>rect {
    fill: #f8d7da;
  }
  
  g.Processing>rect {
    fill: #fff3cd;
  }
  